<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head th:replace="layout :: head">
<meta charset="UTF-8">
<title>Sistema de Compras de Farmacia</title>

<body th:replace="layout :: wrapper">

<div th:fragment="mi-contenido">

 <div style="padding: 30px;">
    
  </div>  

<script>

	document.getElementById("titulo_doc").innerHTML = "Reportes";
	  

</script>

</div>

</body>
</html>