<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head th:replace="layout :: head">
<meta charset="UTF-8">
<title>Sistema de Compras de Farmacia</title>

<body th:replace="layout :: wrapper">

<div th:fragment="mi-contenido">

 <div style="padding: 30px;">
 	<div th:if="${errorStock}" class="alert alert-danger" role="alert">
	   <p th:text="${errorStock}"></p>
	</div>
 	
    <form th:action="@{/guardarDetalle/{id}(id=${id})}" th:object="${compraproducto}" method="post">
	  <div class="form-group">
	    <select id="productoSeleccionado" name="productoSeleccionado" required class="select2_single form-control">
		    <option value="">Seleccione un producto</option>
		    <option th:each="producto : ${productos}"
		            th:value="${producto.id}"
		            th:text="${producto.nombre}">
		    </option>
		</select>
		<input type="hidden" readonly id="inputProductoSeleccionado">
	  </div>
	  <div class="form-group">
	    <label class="t-MediaList-title" style="padding: 5px;">Cantidad:</label>
	    <input th:field="*{cantidad}" id="cantidad" name="cantidad" type="number" class="form-control" 
       			required maxlength="10" style="width: 130px;"
      			oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);
                if (this.value <= 0) this.value = '';">
	  </div>
	  <br><br>
	  <div class="form-group">
	    <button type="submit" class="btn btn-success t-Button-label" style="font-size: 15px;">
          Guardar
        </button>
	  </div>
	</form>

  </div>  
<script>

	document.getElementById("titulo_doc").innerHTML = "Nuevo Pedido";
	
</script>

</div>

</body>

<script>
    const selectProducto = document.getElementById("selectProducto");
    const inputProductoSeleccionado = document.getElementById("inputProductoSeleccionado");

    selectProducto.addEventListener("change", () => {
        inputProductoSeleccionado.value = selectProducto.value;
    });
</script>

</html>